<footer class="footer">
  <div class="container footer__inner">
    <!-- Logo + info -->
    <div class="footer__brand">
      <div class="footer__logo">
        <a
          class="footer__logo-link"
          href="/"
          (click)="onLogoClick($event)"
          [attr.aria-label]="t().nav.home"
        >
          <img
            src="assets/img/logo.png"
            alt="Atahar Hossain logo"
            class="footer__logo-img"
          />
        </a>
        <div>
          <span class="footer__role">{{ t().footer.role }}</span>
          <span class="footer__location">{{ t().footer.location }}</span>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <p class="footer__copy">{{ t().footer.copyright }}</p>

    <!-- Links -->
    <nav class="footer__links">
      <a
        href="https://github.com/shajib07"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
        >{{ t().footer.github }}</a
      >

      <a
        href="https://www.linkedin.com/in/atahar-hossain-shajib-00561962/"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
        >{{ t().footer.linkedin }}</a
      >

      <a href="mailto:shajib.ruet07@gmail.com" class="footer__link">{{
        t().footer.email
      }}</a>

      <a routerLink="/imprint" class="footer__link">{{ t().footer.imprint }}</a>

      <a routerLink="/privacy" class="footer__link">{{ t().footer.privacy }}</a>
    </nav>
  </div>
</footer>
